@charset "UTF-8";
/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
@import url("https://use.typekit.net/yuv0kbt.css");
/* line 123, ../scss/component/_mixins.scss */
.views-row:last-child hr {
  display: none;
}

@media (min-width: 1200px) {
  /* line 127, ../scss/component/_mixins.scss */
  .col-lg-1:nth-child(12n+1) {
    clear: left;
  }

  /* line 128, ../scss/component/_mixins.scss */
  .col-lg-2:nth-child(6n+1) {
    clear: left;
  }

  /* line 129, ../scss/component/_mixins.scss */
  .col-lg-3:nth-child(4n+1) {
    clear: left;
  }

  /* line 130, ../scss/component/_mixins.scss */
  .col-lg-4:nth-child(3n+1) {
    clear: left;
  }

  /* line 131, ../scss/component/_mixins.scss */
  .col-lg-6:nth-child(odd) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 134, ../scss/component/_mixins.scss */
  .col-md-1:nth-child(12n+1) {
    clear: left;
  }

  /* line 135, ../scss/component/_mixins.scss */
  .col-md-2:nth-child(6n+1) {
    clear: left;
  }

  /* line 136, ../scss/component/_mixins.scss */
  .col-md-3:nth-child(4n+1) {
    clear: left;
  }

  /* line 137, ../scss/component/_mixins.scss */
  .col-md-4:nth-child(3n+1) {
    clear: left;
  }

  /* line 138, ../scss/component/_mixins.scss */
  .col-md-6:nth-child(odd) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 141, ../scss/component/_mixins.scss */
  .col-sm-1:nth-child(12n+1) {
    clear: left;
  }

  /* line 142, ../scss/component/_mixins.scss */
  .col-sm-2:nth-child(6n+1) {
    clear: left;
  }

  /* line 143, ../scss/component/_mixins.scss */
  .col-sm-3:nth-child(4n+1) {
    clear: left;
  }

  /* line 144, ../scss/component/_mixins.scss */
  .col-sm-4:nth-child(3n+1) {
    clear: left;
  }

  /* line 145, ../scss/component/_mixins.scss */
  .col-sm-6:nth-child(odd) {
    clear: left;
  }
}
@media (max-width: 767px) {
  /* line 148, ../scss/component/_mixins.scss */
  .col-xs-1:nth-child(12n+1) {
    clear: left;
  }

  /* line 149, ../scss/component/_mixins.scss */
  .col-xs-2:nth-child(6n+1) {
    clear: left;
  }

  /* line 150, ../scss/component/_mixins.scss */
  .col-xs-3:nth-child(4n+1) {
    clear: left;
  }

  /* line 151, ../scss/component/_mixins.scss */
  .col-xs-4:nth-child(3n+1) {
    clear: left;
  }

  /* line 152, ../scss/component/_mixins.scss */
  .col-xs-6:nth-child(odd) {
    clear: left;
  }
}
/* line 11, ../scss/component/_fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "erb_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 103, ../scss/component/_fonts.scss */
body {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #494948;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

/* line 113, ../scss/component/_fonts.scss */
h1,
h2,
h3,
h1 *,
h2 *,
h3 * {
  font-family: proxima-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* line 121, ../scss/component/_fonts.scss */
.field--label,
h4,
h5,
h6 {
  font-family: proxima-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* line 131, ../scss/component/_fonts.scss */
h1 em,
h2 em,
h3 em {
  font-style: italic;
}
/* line 134, ../scss/component/_fonts.scss */
h1.field,
h2.field,
h3.field {
  margin-bottom: 0;
}

/* line 141, ../scss/component/_fonts.scss */
h1,
.h1 {
  font-size: 36px;
}

/* line 146, ../scss/component/_fonts.scss */
h2,
.h2 {
  font-size: 28px;
  margin-top: 20px;
}

/* line 152, ../scss/component/_fonts.scss */
h3,
.h3 {
  font-size: 21px;
  margin-top: 15px;
}

/* line 160, ../scss/component/_fonts.scss */
h1.page-header {
  border: none;
  padding: 0;
  padding-bottom: 9px;
  margin: 20px 0 20px;
}

/* line 169, ../scss/component/_fonts.scss */
.field--label {
  font-size: 24px;
}

/* line 222, ../scss/component/_fonts.scss */
ol,
ul {
  padding-left: 2em;
}

/* line 242, ../scss/component/_fonts.scss */
p,
.field {
  margin: 0 0 1em 0;
}

/* line 246, ../scss/component/_fonts.scss */
.field li:last-child
.field p:last-child {
  margin-bottom: 0;
}

/* line 251, ../scss/component/_fonts.scss */
hr {
  clear: both;
  float: none;
  border: none;
  border: #494948 2px solid;
}

/* line 259, ../scss/component/_fonts.scss */
blockquote {
  margin: 0;
  font-size: inherit;
  border: none;
  border: none;
  background: #b7d68f;
  font-family: proxima-soft-condensed, sans-serif;
  font-weight: 300;
  font-style: italic;
}
/* line 266, ../scss/component/_fonts.scss */
blockquote p,
blockquote li {
  line-height: inherit;
}

/*/  ===  Link types === /*/
/* line 294, ../scss/component/_fonts.scss */
:not(.block-image) > a[target="_blank"]:after,
:not(.block-image) > a[href$=".xls"]:after,
:not(.block-image) > a[href$=".xlsx"]:after,
:not(.block-image) > a[href$=".ppt"]:after,
:not(.block-image) > a[href$=".doc"]:after,
:not(.block-image) > a[href$=".docx"]:after,
:not(.block-image) > a[href$=".pdf"]:after,
:not(.block-image) > a[href$=".gz"]:after,
:not(.block-image) > a[href$=".tar"]:after,
:not(.block-image) > a[href$=".zip"]:after,
:not(.block-image) > a[href$=".zipx"]:after,
:not(.block-image) > a[href$=".txt"]:after {
  content: "ï‡";
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'file_type_icons';
  font-size: 1.2em;
  text-decoration: none;
  margin: 0 0 0 0.15em;
}
/* line 300, ../scss/component/_fonts.scss */
:not(.block-image) > a[target="_blank"]:after:hover,
:not(.block-image) > a[href$=".xls"]:after:hover,
:not(.block-image) > a[href$=".xlsx"]:after:hover,
:not(.block-image) > a[href$=".ppt"]:after:hover,
:not(.block-image) > a[href$=".doc"]:after:hover,
:not(.block-image) > a[href$=".docx"]:after:hover,
:not(.block-image) > a[href$=".pdf"]:after:hover,
:not(.block-image) > a[href$=".gz"]:after:hover,
:not(.block-image) > a[href$=".tar"]:after:hover,
:not(.block-image) > a[href$=".zip"]:after:hover,
:not(.block-image) > a[href$=".zipx"]:after:hover,
:not(.block-image) > a[href$=".txt"]:after:hover {
  text-decoration: none;
}
/* line 306, ../scss/component/_fonts.scss */
:not(.block-image) > a[target="_blank"]:after {
  content: '\f08e';
}
/* line 312, ../scss/component/_fonts.scss */
:not(.block-image) > a[href$=".doc"]:after,
:not(.block-image) > a[href$=".docx"]:after {
  content: '\f1c2';
}
/* line 318, ../scss/component/_fonts.scss */
:not(.block-image) > a[href$=".xls"]:after,
:not(.block-image) > a[href$=".xlsx"]:after {
  content: '\f1c3';
}
/* line 323, ../scss/component/_fonts.scss */
:not(.block-image) > a[href$=".ppt"]:after {
  content: '\f1c4';
}
/* line 331, ../scss/component/_fonts.scss */
:not(.block-image) > a[href$=".gz"]:after,
:not(.block-image) > a[href$=".tar"]:after,
:not(.block-image) > a[href$=".zip"]:after,
:not(.block-image) > a[href$=".zipx"]:after {
  content: '\f1c6';
}
/* line 336, ../scss/component/_fonts.scss */
:not(.block-image) > a[href$=".txt"]:after {
  content: '\f0f6';
}

/* line 7, ../scss/component/_forms.scss */
.form-control:not(.form-file):not(.form-select),
input.form-text {
  border-radius: 0;
  border: 2px solid #cccccc;
  background: #f5f5f5;
}
/* line 12, ../scss/component/_forms.scss */
.form-control:not(.form-file):not(.form-select):active, .form-control:not(.form-file):not(.form-select):focus,
input.form-text:active,
input.form-text:focus {
  border-color: #818181;
}

/* line 17, ../scss/component/_forms.scss */
.input-group-btn {
  border-radius: 0;
  background: #fff;
}

/* line 23, ../scss/component/_forms.scss */
.pager li > a,
.pager li > span,
.more-link,
.btn,
.btn-default,
.btn-sm,
.btn-primary,
button {
  font-family: proxima-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #21bbef;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0;
  padding: 0.33em 0.66em;
  text-decoration: none !important;
  background: #21bbef;
  transition: background 0.05s ease 0s;
}
/* line 69, ../scss/component/_mixins.scss */
.pager li > a:hover,
.pager li > span:hover,
.more-link:hover,
.btn:hover,
.btn-default:hover,
.btn-sm:hover,
.btn-primary:hover,
button:hover {
  text-decoration: none;
  background: #0d8cb6;
  text-decoration: none !important;
  cursor: pointer;
  color: #fff;
}
/* line 75, ../scss/component/_mixins.scss */
.pager li > a:active,
.pager li > span:active,
.more-link:active,
.btn:active,
.btn-default:active,
.btn-sm:active,
.btn-primary:active,
button:active {
  color: #fff !important;
  background: #494948 !important;
  transition: all 0.1s linear;
  text-decoration: none !important;
  cursor: pointer;
  color: #fff;
}

/* line 35, ../scss/component/_forms.scss */
.Read.More,
.more-link,
.readmore a {
  font-size: 14px;
  display: block;
  float: right;
  clear: both;
}
/* line 43, ../scss/component/_forms.scss */
.Read.More:hover,
.more-link:hover,
.readmore a:hover {
  color: #fff !important;
  background: #21bbef;
}
/* line 47, ../scss/component/_forms.scss */
.Read.More:active,
.more-link:active,
.readmore a:active {
  background-color: black;
}

/* line 56, ../scss/component/_forms.scss */
#search-block-form .input-group input.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #cccccc;
}

/* line 61, ../scss/component/_forms.scss */
#search-block-form .input-group input.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc;
}

/* line 66, ../scss/component/_forms.scss */
#search-block-form .input-group input.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc;
}

/* line 71, ../scss/component/_forms.scss */
#search-block-form .input-group input.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #cccccc;
}

/* line 132, ../scss/component/_forms.scss */
.top-bar #search-toggler {
  display: none;
}
/* line 134, ../scss/component/_forms.scss */
.top-bar #search-toggler:checked ~ #search-block-form {
  top: 21px;
}
/* line 142, ../scss/component/_forms.scss */
.top-bar #search-toggler:checked ~ label[for=search-toggler] {
  background: #58585a;
}

/* line 148, ../scss/component/_forms.scss */
label[for=search-toggler] {
  font-size: 1em;
  color: #fff;
  clear: both;
  float: right;
  margin: 0 170px 0 0;
  padding: 3px 6px;
  background: transparent;
  cursor: pointer;
  text-align: right;
}
/* line 166, ../scss/component/_forms.scss */
label[for=search-toggler] span {
  color: #fff;
  font-size: 0%;
}

/* line 178, ../scss/component/_forms.scss */
.path-search .form-search.form-control {
  border-right: none;
}
/* line 179, ../scss/component/_forms.scss */
.path-search button {
  margin: 0 !important;
}

/* line 1, ../scss/component/_navigation.scss */
.breadcrumb {
  font-size: 0.9em;
  color: #999;
  padding: 0;
  margin: 0 0 1em 0;
  border-top: none;
  background: #fff;
}
/* line 9, ../scss/component/_navigation.scss */
.breadcrumb li a:link,
.breadcrumb li a:visited {
  color: #999;
  text-decoration: none !important;
}
/* line 14, ../scss/component/_navigation.scss */
.breadcrumb li a:hover,
.breadcrumb li a:active {
  color: #333;
  text-decoration: underline;
}
/* line 20, ../scss/component/_navigation.scss */
.breadcrumb > li + li:before {
  content: "> ";
  padding: 0 5px;
  color: #ccc;
}

/* line 29, ../scss/component/_navigation.scss */
.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;
  margin-right: 10px;
  padding: 10px 10px 6px 4px;
}
/* line 34, ../scss/component/_navigation.scss */
.navbar-default .navbar-toggle .icon-bar {
  height: 5px;
  margin: 5px 0;
  width: 36px;
  background: #cccccc;
  border-radius: 5px;
}
/* line 41, ../scss/component/_navigation.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
  background: transparent !important;
  cursor: pointer;
}
/* line 45, ../scss/component/_navigation.scss */
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:active .icon-bar {
  background: #818181;
}

/* line 52, ../scss/component/_navigation.scss */
.nav-label {
  font-family: proxima-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #818181;
  text-transform: uppercase;
  float: right;
  margin-right: 0.5em;
  line-height: 51px;
}

/* line 61, ../scss/component/_navigation.scss */
.navbar-toggle {
  clear: right;
}

/* line 65, ../scss/component/_navigation.scss */
.navbar-toggle {
  display: block;
}

/* line 69, ../scss/component/_navigation.scss */
.nav-label {
  display: block;
}

@media all and (min-width: 768px) {
  /* line 80, ../scss/component/_navigation.scss */
  .navbar-toggle {
    display: none;
  }

  /* line 83, ../scss/component/_navigation.scss */
  .nav-label {
    display: none;
  }
}
@media all and (max-width: 767px) {
  /* line 89, ../scss/component/_navigation.scss */
  #navbar {
    position: relative;
  }
  /* line 91, ../scss/component/_navigation.scss */
  #navbar .navbar-toggle {
    position: absolute;
    z-index: 999;
    top: 0;
    left: auto;
    right: 0;
  }
  /* line 98, ../scss/component/_navigation.scss */
  #navbar #navbar-collapse {
    background: #f5f5f5;
    border-bottom: 3px solid #cccccc;
    position: absolute;
    z-index: 899;
    top: 0;
    left: 15px;
    right: 0;
  }
  /* line 106, ../scss/component/_navigation.scss */
  #navbar #navbar-collapse .region-navigation-collapsible {
    padding: 5px 30px;
  }
}
/*/ === Fancy dancing hamburger === /*/
/* line 118, ../scss/component/_navigation.scss */
.navbar-toggle {
  background: transparent;
  overflow: hidden;
}
/* line 120, ../scss/component/_navigation.scss */
.navbar-toggle .icon-bar {
  transition: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
/* line 127, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  transform: translateY(10px) rotate(45deg);
}
/* line 130, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  opacity: 0;
  transform: translateX(-100%);
}
/* line 134, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
  transform: translateY(-10px) rotate(-45deg);
}
/* line 139, ../scss/component/_navigation.scss */
.navbar-toggle:active {
  background: transparent;
}

/* line 146, ../scss/component/_navigation.scss */
.nav:not(.tabs--primary) > li > a:hover,
.nav:not(.tabs--primary) > li > a:focus {
  background: transparent;
  color: #21bbef;
  text-decoration: underline;
}

/* line 154, ../scss/component/_navigation.scss */
.nav:not(.tabs--primary) > li.active > a,
.nav:not(.tabs--primary) > li.active > a:hover,
.nav:not(.tabs--primary) > li.active > a:focus {
  background: transparent;
  font-family: proxima-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: default;
}

/* line 31, ../scss/style.scss */
a:link,
a:visited {
  color: #21bbef;
}

/* line 36, ../scss/style.scss */
a:hover {
  color: #494948 !important;
  text-decoration: underline;
}

/* line 43, ../scss/style.scss */
.dialog-off-canvas-main-canvas {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* line 47, ../scss/style.scss */
.maintenance-page .dialog-off-canvas-main-canvas .main-container,
.dialog-off-canvas-main-canvas footer.footer {
  flex: 1;
}

/* line 54, ../scss/style.scss */
body {
  padding: 0;
  background: #f5f5f5;
  margin: 0;
  min-height: 100vh;
}

/* line 64, ../scss/style.scss */
.navbar-default {
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

/* line 72, ../scss/style.scss */
.logo.navbar-btn img {
  width: 300px;
}

/* line 76, ../scss/style.scss */
.container-fluid {
  padding: 0 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  background-color: #FFF;
}
@media all and (min-width: 767px) {
  /* line 76, ../scss/style.scss */
  .container-fluid {
    padding: 0 30px;
  }
}

/* line 88, ../scss/style.scss */
header.header,
footer.footer {
  background: #fff;
  width: 100%;
  padding: 15px 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
/* line 96, ../scss/style.scss */
header.header .container-fluid,
footer.footer .container-fluid {
  background: transparent;
}

/* line 101, ../scss/style.scss */
footer.footer_lower,
footer.footer {
  margin: 0;
  background: #818181;
}
/* line 106, ../scss/style.scss */
footer.footer_lower .container-fluid,
footer.footer .container-fluid {
  background: transparent;
  color: #fff;
}
@media all and (min-width: 1300px) {
  /* line 106, ../scss/style.scss */
  footer.footer_lower .container-fluid,
  footer.footer .container-fluid {
    padding: 0;
  }
}
/* line 112, ../scss/style.scss */
footer.footer_lower .container-fluid a:link,
footer.footer_lower .container-fluid a:hover,
footer.footer .container-fluid a:link,
footer.footer .container-fluid a:hover {
  color: #fff !important;
}

/* line 120, ../scss/style.scss */
.user-pass,
.user-login-form {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media all and (min-width: 767px) {
  /* line 126, ../scss/style.scss */
  .region.region-content {
    padding-right: 25%;
  }
}
