@charset "UTF-8";
/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
@import url("https://use.typekit.net/yuv0kbt.css");
/* line 123, ../scss/component/_mixins.scss */
.views-row:last-child hr:not(.thin) {
  display: none;
}

@media (min-width: 1200px) {
  /* line 127, ../scss/component/_mixins.scss */
  .col-lg-1:nth-child(12n+1) {
    clear: left;
  }

  /* line 128, ../scss/component/_mixins.scss */
  .col-lg-2:nth-child(6n+1) {
    clear: left;
  }

  /* line 129, ../scss/component/_mixins.scss */
  .col-lg-3:nth-child(4n+1) {
    clear: left;
  }

  /* line 130, ../scss/component/_mixins.scss */
  .col-lg-4:nth-child(3n+1) {
    clear: left;
  }

  /* line 131, ../scss/component/_mixins.scss */
  .col-lg-6:nth-child(odd) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 134, ../scss/component/_mixins.scss */
  .col-md-1:nth-child(12n+1) {
    clear: left;
  }

  /* line 135, ../scss/component/_mixins.scss */
  .col-md-2:nth-child(6n+1) {
    clear: left;
  }

  /* line 136, ../scss/component/_mixins.scss */
  .col-md-3:nth-child(4n+1) {
    clear: left;
  }

  /* line 137, ../scss/component/_mixins.scss */
  .col-md-4:nth-child(3n+1) {
    clear: left;
  }

  /* line 138, ../scss/component/_mixins.scss */
  .col-md-6:nth-child(odd) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 141, ../scss/component/_mixins.scss */
  .col-sm-1:nth-child(12n+1) {
    clear: left;
  }

  /* line 142, ../scss/component/_mixins.scss */
  .col-sm-2:nth-child(6n+1) {
    clear: left;
  }

  /* line 143, ../scss/component/_mixins.scss */
  .col-sm-3:nth-child(4n+1) {
    clear: left;
  }

  /* line 144, ../scss/component/_mixins.scss */
  .col-sm-4:nth-child(3n+1) {
    clear: left;
  }

  /* line 145, ../scss/component/_mixins.scss */
  .col-sm-6:nth-child(odd) {
    clear: left;
  }
}
@media (max-width: 767px) {
  /* line 148, ../scss/component/_mixins.scss */
  .col-xs-1:nth-child(12n+1) {
    clear: left;
  }

  /* line 149, ../scss/component/_mixins.scss */
  .col-xs-2:nth-child(6n+1) {
    clear: left;
  }

  /* line 150, ../scss/component/_mixins.scss */
  .col-xs-3:nth-child(4n+1) {
    clear: left;
  }

  /* line 151, ../scss/component/_mixins.scss */
  .col-xs-4:nth-child(3n+1) {
    clear: left;
  }

  /* line 152, ../scss/component/_mixins.scss */
  .col-xs-6:nth-child(odd) {
    clear: left;
  }
}
@font-face {
  font-family: 'wvn_icons';
  src: url("font/wvn_icons.eot?58622499");
  src: url("font/wvn_icons.eot?58622499#iefix") format("embedded-opentype"), url("font/wvn_icons.woff2?58622499") format("woff2"), url("font/wvn_icons.woff?58622499") format("woff"), url("font/wvn_icons.ttf?58622499") format("truetype"), url("font/wvn_icons.svg?58622499#wvn_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 99, ../scss/component/_fonts.scss */
body {
  font-family: proxima-soft, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #494948;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

/* line 109, ../scss/component/_fonts.scss */
h1,
h2,
h3,
h1 *,
h2 *,
h3 * {
  font-family: proxima-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* line 117, ../scss/component/_fonts.scss */
.field--label,
h4,
h5,
h6 {
  font-family: proxima-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* line 127, ../scss/component/_fonts.scss */
h1 em,
h2 em,
h3 em {
  font-style: italic;
}
/* line 130, ../scss/component/_fonts.scss */
h1.field,
h2.field,
h3.field {
  margin-bottom: 0;
}

/* line 137, ../scss/component/_fonts.scss */
h1,
.h1 {
  font-size: 36px;
}

/* line 144, ../scss/component/_fonts.scss */
h2,
.h2 {
  font-size: 28px;
  margin: 10px 0 10px 0;
}
/* line 148, ../scss/component/_fonts.scss */
h2.node-title,
.h2.node-title {
  font-size: 32px;
  margin: 30px 0 25px 0;
}

/* line 157, ../scss/component/_fonts.scss */
.named-achor {
  margin-top: 0px;
}

/* line 159, ../scss/component/_fonts.scss */
h3,
.h3 {
  font-size: 21px;
  margin-top: 15px;
}

/* line 167, ../scss/component/_fonts.scss */
h1.page-header {
  border: none;
  padding: 0;
  padding-bottom: 9px;
  margin: 20px 0 20px;
}

/* line 176, ../scss/component/_fonts.scss */
.field--label {
  font-size: 24px;
}

/* line 229, ../scss/component/_fonts.scss */
ol,
ul {
  padding-left: 2em;
}

/* line 237, ../scss/component/_fonts.scss */
ul.arrows {
  padding-left: 0em;
}
/* line 239, ../scss/component/_fonts.scss */
ul.arrows li {
  list-style: none;
}
/* line 242, ../scss/component/_fonts.scss */
ul.arrows li a {
  font-weight: 600;
}
/* line 243, ../scss/component/_fonts.scss */
ul.arrows li:before {
  content: "";
  font-family: 'wvn_icons';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #21bbef;
  font-size: 14px;
}

/* line 252, ../scss/component/_fonts.scss */
p,
.field {
  margin: 0 0 1em 0;
}

/* line 256, ../scss/component/_fonts.scss */
.field li:last-child
.field p:last-child {
  margin-bottom: 0;
}

/* line 261, ../scss/component/_fonts.scss */
hr {
  margin: 15px 0;
  clear: both;
  float: none;
  border: none;
  border: #cccccc 2px solid;
}
/* line 266, ../scss/component/_fonts.scss */
hr.thin {
  border-width: 1px;
}

/* line 270, ../scss/component/_fonts.scss */
blockquote {
  margin: 0 0 10px 0;
  font-size: inherit;
  padding: 3px 10px  5px 10px;
  border: none;
  border: none;
  background: #b7d68f;
  font-family: proxima-soft-condensed, sans-serif;
  font-weight: 300;
  font-style: italic;
}
/* line 278, ../scss/component/_fonts.scss */
blockquote p,
blockquote li {
  margin: 0 0 6px 0;
  line-height: inherit;
}
/* line 282, ../scss/component/_fonts.scss */
blockquote p:last-child,
blockquote li:last-child {
  margin-bottom: 0;
}
/* line 286, ../scss/component/_fonts.scss */
blockquote h2,
blockquote h3,
blockquote h4 {
  margin: 8px 0 4px 0;
}

/*/  ===  Link types === /*/
/* line 314, ../scss/component/_fonts.scss */
:not(.align-right-50):not(.align-right-25) > a[target="_blank"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".xls"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".xlsx"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".ppt"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".doc"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".docx"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".pdf"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".gz"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".tar"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".zip"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".zipx"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".txt"]:after {
  content: "";
  font-family: 'wvn_icons';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em;
  text-decoration: none;
  margin: 0 0 0 0.15em;
}
/* line 320, ../scss/component/_fonts.scss */
:not(.align-right-50):not(.align-right-25) > a[target="_blank"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".xls"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".xlsx"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".ppt"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".doc"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".docx"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".pdf"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".gz"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".tar"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".zip"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".zipx"]:after:hover,
:not(.align-right-50):not(.align-right-25) > a[href$=".txt"]:after:hover {
  text-decoration: none;
}
/* line 326, ../scss/component/_fonts.scss */
:not(.align-right-50):not(.align-right-25) > a[target="_blank"]:after {
  content: '\f14c';
}
/* line 332, ../scss/component/_fonts.scss */
:not(.align-right-50):not(.align-right-25) > a[href$=".doc"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".docx"]:after {
  content: '\f1c2';
}
/* line 338, ../scss/component/_fonts.scss */
:not(.align-right-50):not(.align-right-25) > a[href$=".xls"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".xlsx"]:after {
  content: '\f1c3';
}
/* line 343, ../scss/component/_fonts.scss */
:not(.align-right-50):not(.align-right-25) > a[href$=".ppt"]:after {
  content: '\f1c4';
}
/* line 351, ../scss/component/_fonts.scss */
:not(.align-right-50):not(.align-right-25) > a[href$=".gz"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".tar"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".zip"]:after,
:not(.align-right-50):not(.align-right-25) > a[href$=".zipx"]:after {
  content: '\f1c6';
}
/* line 356, ../scss/component/_fonts.scss */
:not(.align-right-50):not(.align-right-25) > a[href$=".txt"]:after {
  content: '\f0f6';
}

/* line 7, ../scss/component/_forms.scss */
.form-control:not(.form-file):not(.form-select),
input.form-text {
  border-radius: 0;
  border: 2px solid #cccccc;
  background: #f5f5f5;
}
/* line 12, ../scss/component/_forms.scss */
.form-control:not(.form-file):not(.form-select):active, .form-control:not(.form-file):not(.form-select):focus,
input.form-text:active,
input.form-text:focus {
  border-color: #818181;
}

/* line 17, ../scss/component/_forms.scss */
.input-group-btn {
  border-radius: 0;
  background: #fff;
}

/* line 23, ../scss/component/_forms.scss */
.pager li > a,
.pager li > span,
.more-link,
.btn,
.btn-default,
.btn-sm,
.btn-primary,
button {
  font-family: proxima-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #21bbef;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0;
  padding: 0.33em 0.66em;
  text-decoration: none !important;
  background: #21bbef;
  transition: background 0.05s ease 0s;
}
/* line 69, ../scss/component/_mixins.scss */
.pager li > a:hover,
.pager li > span:hover,
.more-link:hover,
.btn:hover,
.btn-default:hover,
.btn-sm:hover,
.btn-primary:hover,
button:hover {
  text-decoration: none;
  background: #0d8cb6;
  text-decoration: none !important;
  cursor: pointer;
  color: #fff;
}
/* line 75, ../scss/component/_mixins.scss */
.pager li > a:active,
.pager li > span:active,
.more-link:active,
.btn:active,
.btn-default:active,
.btn-sm:active,
.btn-primary:active,
button:active {
  color: #fff !important;
  background: #494948 !important;
  transition: all 0.1s linear;
  text-decoration: none !important;
  cursor: pointer;
  color: #fff;
}

/* line 35, ../scss/component/_forms.scss */
.Read.More,
.more-link,
.readmore a {
  font-size: 14px;
  display: block;
  float: right;
  clear: both;
}
/* line 43, ../scss/component/_forms.scss */
.Read.More:hover,
.more-link:hover,
.readmore a:hover {
  color: #fff !important;
  background: #21bbef;
}
/* line 47, ../scss/component/_forms.scss */
.Read.More:active,
.more-link:active,
.readmore a:active {
  background-color: black;
}

/* line 56, ../scss/component/_forms.scss */
#search-block-form .input-group input.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #cccccc;
}

/* line 61, ../scss/component/_forms.scss */
#search-block-form .input-group input.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc;
}

/* line 66, ../scss/component/_forms.scss */
#search-block-form .input-group input.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc;
}

/* line 71, ../scss/component/_forms.scss */
#search-block-form .input-group input.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #cccccc;
}

/* line 132, ../scss/component/_forms.scss */
.top-bar #search-toggler {
  display: none;
}
/* line 134, ../scss/component/_forms.scss */
.top-bar #search-toggler:checked ~ #search-block-form {
  top: 21px;
}
/* line 142, ../scss/component/_forms.scss */
.top-bar #search-toggler:checked ~ label[for=search-toggler] {
  background: #58585a;
}

/* line 148, ../scss/component/_forms.scss */
label[for=search-toggler] {
  font-size: 1em;
  color: #fff;
  clear: both;
  float: right;
  margin: 0 170px 0 0;
  padding: 3px 6px;
  background: transparent;
  cursor: pointer;
  text-align: right;
}
/* line 166, ../scss/component/_forms.scss */
label[for=search-toggler] span {
  color: #fff;
  font-size: 0%;
}

/* line 178, ../scss/component/_forms.scss */
.path-search .form-search.form-control {
  border-right: none;
}
/* line 179, ../scss/component/_forms.scss */
.path-search button {
  margin: 0 !important;
}

/*/  === INLINE IMAGES ===  /*/
/* line 3, ../scss/component/_images.scss */
.align-right-50 img,
.align-right-25 img {
  float: left;
  margin: 0 0 15px -33%;
  clear: right;
  max-width: 45%;
  max-width: 27.5%;
}

/* line 14, ../scss/component/_images.scss */
.align-right-25 img {
  padding: 0 10px;
}
/* line 18, ../scss/component/_images.scss */
.align-right-25 img[src*="ICAEW"] {
  margin-left: -27%;
  max-width: 17.5%;
  margin-top: -25px;
}

/* line 25, ../scss/component/_images.scss */
.align-full img {
  float: none;
  margin: 15px auto;
  clear: both;
  display: block;
  width: auto;
  max-width: 100%;
}

@media all and (max-width: 768px) {
  /* line 34, ../scss/component/_images.scss */
  .align-right-25 img,
  .align-right-50 img {
    float: none;
    margin: 15px 25%;
    clear: both;
    max-width: 50%;
  }

  /* line 41, ../scss/component/_images.scss */
  .align-right-25 img {
    float: none;
    margin: 15px 35%;
    clear: both;
    max-width: 30%;
  }
  /* line 46, ../scss/component/_images.scss */
  .align-right-25 img[src*="ICAEW"] {
    float: none;
    margin: 15px 35%;
    clear: both;
    max-width: 30%;
  }
}
/*/  ===  Colorbox window === /*/
/* line 56, ../scss/component/_images.scss */
#cboxTitle {
  font-size: 14px;
}
/* line 58, ../scss/component/_images.scss */
#cboxTitle:before {
  content: "";
  font-family: 'wvn_icons';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'cn_icons3';
  font-size: inherit;
  margin-right: 0.5em;
}

/* line 1, ../scss/component/_navigation.scss */
.breadcrumb {
  font-size: 0.9em;
  color: #999;
  padding: 0;
  margin: 0 0 1em 0;
  border-top: none;
  background: #fff;
}
/* line 9, ../scss/component/_navigation.scss */
.breadcrumb li a:link,
.breadcrumb li a:visited {
  color: #999;
  text-decoration: none !important;
}
/* line 14, ../scss/component/_navigation.scss */
.breadcrumb li a:hover,
.breadcrumb li a:active {
  color: #333;
  text-decoration: underline;
}
/* line 20, ../scss/component/_navigation.scss */
.breadcrumb > li + li:before {
  content: "> ";
  padding: 0 5px;
  color: #ccc;
}

/* line 27, ../scss/component/_navigation.scss */
header.navbar.navbar-default.container-fluid {
  background: #fff;
  background: transparent;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
@media all and (min-width: 767px) {
  /* line 27, ../scss/component/_navigation.scss */
  header.navbar.navbar-default.container-fluid {
    background: transparent;
  }
}
/* line 43, ../scss/component/_navigation.scss */
header.navbar.navbar-default.container-fluid .navbar-collapse {
  border-bottom: 2px #cccccc solid;
  background: #f5f5f5;
  background: #fff;
}
/* line 47, ../scss/component/_navigation.scss */
header.navbar.navbar-default.container-fluid .navbar-collapse .header-wrapper {
  position: relative;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
@media all and (min-width: 768px) {
  /* line 53, ../scss/component/_navigation.scss */
  header.navbar.navbar-default.container-fluid .navbar-collapse .header-wrapper #block-sociallinks {
    position: absolute;
    top: 4px;
    left: auto;
    right: 0;
  }
}

/* line 64, ../scss/component/_navigation.scss */
.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;
  margin-right: 10px;
  padding: 10px 10px 6px 4px;
}
/* line 69, ../scss/component/_navigation.scss */
.navbar-default .navbar-toggle .icon-bar {
  height: 5px;
  margin: 5px 0;
  width: 36px;
  background: #cccccc;
  border-radius: 5px;
}
/* line 76, ../scss/component/_navigation.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
  background: transparent !important;
  cursor: pointer;
}
/* line 80, ../scss/component/_navigation.scss */
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:active .icon-bar {
  background: #818181;
}

/* line 85, ../scss/component/_navigation.scss */
.nav-label {
  font-family: proxima-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #818181;
  text-transform: uppercase;
  float: right;
  margin-right: 0.5em;
  line-height: 51px;
}

/* line 94, ../scss/component/_navigation.scss */
.navbar-toggle {
  clear: right;
}

/* line 98, ../scss/component/_navigation.scss */
.navbar-toggle {
  display: block;
}

/* line 102, ../scss/component/_navigation.scss */
.nav-label {
  display: block;
}

@media all and (min-width: 768px) {
  /* line 113, ../scss/component/_navigation.scss */
  .navbar-toggle {
    display: none;
  }

  /* line 116, ../scss/component/_navigation.scss */
  .nav-label {
    display: none;
  }
}
@media all and (max-width: 767px) {
  /* line 125, ../scss/component/_navigation.scss */
  #navbar .navbar-toggle {
    position: absolute;
    z-index: 999;
    top: 0;
    left: auto;
    right: 0;
  }
  /* line 132, ../scss/component/_navigation.scss */
  #navbar #navbar-collapse {
    position: absolute;
    z-index: 899;
    top: 0;
    left: 0;
    right: 0;
  }
  /* line 138, ../scss/component/_navigation.scss */
  #navbar #navbar-collapse .region-navigation-collapsible {
    padding: 5px 95px 5px 0px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
/*/ === Fancy dancing hamburger === /*/
/* line 152, ../scss/component/_navigation.scss */
.navbar-toggle {
  background: transparent;
  overflow: hidden;
}
/* line 154, ../scss/component/_navigation.scss */
.navbar-toggle .icon-bar {
  transition: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
/* line 161, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  transform: translateY(10px) rotate(45deg);
}
/* line 164, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  opacity: 0;
  transform: translateX(-100%);
}
/* line 168, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
  transform: translateY(-10px) rotate(-45deg);
}
/* line 173, ../scss/component/_navigation.scss */
.navbar-toggle:active {
  background: transparent;
}

@media all and (min-width: 768px) {
  /* line 179, ../scss/component/_navigation.scss */
  #block-views-block-frontpage-block-1 {
    margin-right: 130px;
  }
}
/* line 56, ../scss/component/_mixins.scss */
#block-views-block-frontpage-block-1 .item-list.menu .menu, #block-views-block-frontpage-block-1 .item-list.menu ul, #block-views-block-frontpage-block-1 .item-list.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 184, ../scss/component/_navigation.scss */
#block-views-block-frontpage-block-1 .item-list.menu ul li {
  border-top: 1px solid #cccccc;
}
/* line 186, ../scss/component/_navigation.scss */
#block-views-block-frontpage-block-1 .item-list.menu ul li:first-child {
  border: none;
}
/* line 191, ../scss/component/_navigation.scss */
#block-views-block-frontpage-block-1 .item-list.menu a {
  font-family: proxima-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  padding: 15px 30px;
  transition: background-color 0.1s linear;
}
/* line 199, ../scss/component/_navigation.scss */
#block-views-block-frontpage-block-1 .item-list.menu a:hover {
  background-color: #dbebc7;
}
/* line 201, ../scss/component/_navigation.scss */
#block-views-block-frontpage-block-1 .item-list.menu a:active {
  background-color: #21bbef;
  color: #fff;
}
@media all and (min-width: 768px) {
  /* line 207, ../scss/component/_navigation.scss */
  #block-views-block-frontpage-block-1 .item-list.menu ul {
    text-align: center;
    display: flex;
  }
  /* line 210, ../scss/component/_navigation.scss */
  #block-views-block-frontpage-block-1 .item-list.menu ul li {
    border: none;
    border-left: 1px solid #cccccc;
    display: inline-block;
    flex-grow: 1;
  }
  /* line 215, ../scss/component/_navigation.scss */
  #block-views-block-frontpage-block-1 .item-list.menu ul li a {
    font-size: 15px;
    padding: 10px 0;
  }
}

/* line 1, ../scss/component/_social_links.scss */
#block-sociallinks,
#block-sociallinks-2 {
  margin-bottom: 15px;
  padding: 0;
}
@media all and (min-width: 768px) {
  /* line 1, ../scss/component/_social_links.scss */
  #block-sociallinks,
  #block-sociallinks-2 {
    margin: 0;
  }
}
/* line 8, ../scss/component/_social_links.scss */
#block-sociallinks .menu,
#block-sociallinks-2 .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 8, ../scss/component/_social_links.scss */
  #block-sociallinks .menu,
  #block-sociallinks-2 .menu {
    text-align: right;
  }
}
/* line 16, ../scss/component/_social_links.scss */
#block-sociallinks .menu li,
#block-sociallinks-2 .menu li {
  padding: 0;
  margin: 0 0 0 0px;
  displaY: INLINE-BLOCK;
}
/* line 21, ../scss/component/_social_links.scss */
#block-sociallinks .menu li.last,
#block-sociallinks-2 .menu li.last {
  margin-right: 0;
}
/* line 24, ../scss/component/_social_links.scss */
#block-sociallinks .menu a,
#block-sociallinks-2 .menu a {
  font-family: 'wvn_icons';
  color: #21bbef;
  text-indent: 0;
  displaY: BLOCK;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 1;
  text-decoration: none;
  text-align: center;
}
/* line 36, ../scss/component/_social_links.scss */
#block-sociallinks .menu li a[href*="mailto:info"]:after,
#block-sociallinks-2 .menu li a[href*="mailto:info"]:after {
  content: "";
  font-family: 'wvn_icons';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 39, ../scss/component/_social_links.scss */
#block-sociallinks .menu li a[href*="twitter"]:after,
#block-sociallinks-2 .menu li a[href*="twitter"]:after {
  content: "";
  font-family: 'wvn_icons';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 42, ../scss/component/_social_links.scss */
#block-sociallinks .menu li a[href*="linkedin"]:after,
#block-sociallinks-2 .menu li a[href*="linkedin"]:after {
  content: "";
  font-family: 'wvn_icons';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 45, ../scss/component/_social_links.scss */
#block-sociallinks .menu li a:after,
#block-sociallinks-2 .menu li a:after {
  font-size: 45px !important;
  line-height: 1em !important;
}
@media all and (min-width: 768px) {
  /* line 45, ../scss/component/_social_links.scss */
  #block-sociallinks .menu li a:after,
  #block-sociallinks-2 .menu li a:after {
    font-size: 30px !important;
  }
}
/* line 53, ../scss/component/_social_links.scss */
#block-sociallinks .menu li a:hover,
#block-sociallinks-2 .menu li a:hover {
  color: #21bbef;
  background: transparent;
}
/* line 58, ../scss/component/_social_links.scss */
#block-sociallinks#block-sociallinks,
#block-sociallinks-2#block-sociallinks {
  margin-bottom: 15px;
}
@media all and (min-width: 768px) {
  /* line 58, ../scss/component/_social_links.scss */
  #block-sociallinks#block-sociallinks,
  #block-sociallinks-2#block-sociallinks {
    margin: 0;
  }
}

/* line 31, ../scss/style.scss */
a:link,
a:visited {
  color: #21bbef;
}

/* line 36, ../scss/style.scss */
a:hover {
  color: #494948 !important;
  text-decoration: underline;
}

/* line 43, ../scss/style.scss */
.dialog-off-canvas-main-canvas {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* line 47, ../scss/style.scss */
.maintenance-page .dialog-off-canvas-main-canvas .main-container,
.dialog-off-canvas-main-canvas footer.footer {
  flex: 1;
}

@media all and (min-width: 768px) {
  /* line 54, ../scss/style.scss */
  .region.region-header {
    padding-top: 50px;
  }
}
/* line 62, ../scss/style.scss */
body {
  font-size: 18px;
  padding: 0;
  background: #f5f5f5;
  margin: 0;
  min-height: 100vh;
}

/* line 72, ../scss/style.scss */
.navbar-default {
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

/* line 80, ../scss/style.scss */
.logo.navbar-btn img {
  width: 250px;
}

/* line 84, ../scss/style.scss */
.container-fluid {
  padding: 0 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  background-color: #FFF;
}
@media all and (min-width: 768px) {
  /* line 84, ../scss/style.scss */
  .container-fluid {
    padding: 0 30px;
  }
}

/* line 96, ../scss/style.scss */
header.header,
footer.footer {
  background: #fff;
  width: 100%;
  padding: 15px 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
/* line 104, ../scss/style.scss */
header.header .container-fluid,
footer.footer .container-fluid {
  background: transparent;
}

/* line 108, ../scss/style.scss */
footer.footer_lower,
footer.footer {
  margin: 0;
  background: #818181;
}
/* line 113, ../scss/style.scss */
footer.footer_lower .container-fluid,
footer.footer .container-fluid {
  background: transparent;
  color: #fff;
}
@media all and (min-width: 1300px) {
  /* line 113, ../scss/style.scss */
  footer.footer_lower .container-fluid,
  footer.footer .container-fluid {
    padding: 0;
  }
}
/* line 117, ../scss/style.scss */
footer.footer_lower .container-fluid .footer-text,
footer.footer .container-fluid .footer-text {
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 117, ../scss/style.scss */
  footer.footer_lower .container-fluid .footer-text,
  footer.footer .container-fluid .footer-text {
    float: none;
  }
}
/* line 123, ../scss/style.scss */
footer.footer_lower .container-fluid .footer-text p,
footer.footer .container-fluid .footer-text p {
  font-size: 14px;
  line-height: 1.3;
}
/* line 130, ../scss/style.scss */
footer.footer_lower .container-fluid a:link,
footer.footer_lower .container-fluid a:hover,
footer.footer .container-fluid a:link,
footer.footer .container-fluid a:hover {
  color: #fff !important;
  background: transparent;
}
/* line 135, ../scss/style.scss */
footer.footer_lower .container-fluid a:hover,
footer.footer .container-fluid a:hover {
  text-decoration: underline;
}
/* line 139, ../scss/style.scss */
footer.footer_lower #block-sociallinks-2,
footer.footer #block-sociallinks-2 {
  float: right;
}
/* line 142, ../scss/style.scss */
footer.footer_lower #block-wevaluenature-account-menu,
footer.footer #block-wevaluenature-account-menu {
  float: left;
}
/* line 144, ../scss/style.scss */
footer.footer_lower #block-wevaluenature-account-menu .navbar-nav > li > a,
footer.footer #block-wevaluenature-account-menu .navbar-nav > li > a {
  padding: 5px;
}

/* line 150, ../scss/style.scss */
.user-pass,
.user-login-form {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 159, ../scss/style.scss */
.webform-submission-contact-form {
  background-color: #dbebc7;
  padding: 10px 20px;
}
/* line 165, ../scss/style.scss */
.webform-submission-contact-form .form-item-i-understand-and-agree-to-the-privacy-policy .description.help-block {
  font-size: 16px;
}
/* line 167, ../scss/style.scss */
.webform-submission-contact-form .form-item-i-understand-and-agree-to-the-privacy-policy .description.help-block a:before {
  content: "";
  font-family: 'wvn_icons';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #21bbef;
  font-size: 14px;
}

/* line 177, ../scss/style.scss */
.region.region-content {
  padding-right: 65px;
}
/* line 179, ../scss/style.scss */
.region.region-content .page.is-promoted.teaser {
  padding-bottom: 30px;
}
@media all and (min-width: 768px) {
  /* line 185, ../scss/style.scss */
  .region.region-content .page.is-promoted.teaser {
    padding-left: 25%;
  }
}
/* line 189, ../scss/style.scss */
.region.region-content hr:not(.thin) {
  display: none;
}
