// Default variables.
@import 'component/default-variables';

// Bootstrap Framework.
//@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
//@import 'component/overrides';

@import 'component/mixins';

@import 'component/fonts';

@import 'component/forms';

@import 'component/images';

@import 'component/navigation';

@import 'component/social_links';


// Brand colours
//$blue:rgb(33, 187, 239);
//$green:rgb(187,209,81);
//$mint:rgb(183,214,143);
//$black:rgb(73,73,72);
//$lightgrey:#cccccc;
//$darkgrey:#818181;
//$verylightgrey:#f5f5f5;
a:link,
a:visited {
    color: $blue;
}

a:hover {
    color: $black!important;
    text-decoration: underline;
}

// ===LAYOUT===//

.dialog-off-canvas-main-canvas {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    .maintenance-page & .main-container ,
    footer.footer {
        flex: 1;
    }
} 

@media all and (min-width: 768px) {
    .region.region-header {
        padding-top:50px;
    }
}



    
body {font-size:18px;
    padding: 0;
    background: $verylightgrey;
    margin: 0;
    min-height: 100vh;

}



.navbar-default {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0
}

.logo.navbar-btn img {
    width: 250px
}

.container-fluid {
    padding: 0 15px;
    width:100%;
    @media all and (min-width: 768px) {
        padding: 0 30px;
    }
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    background-color: #FFF
}

header.header,
footer.footer {
    background: #fff;
    width: 100%;
    padding: 15px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    .container-fluid {
        background: transparent
    }
}
footer.footer_lower,
footer.footer {
    //flex: 1 100%;
    margin: 0;
    background: $darkgrey;
    .container-fluid {
        @media all and (min-width: 1300px) {
            padding: 0;
        }
        .footer-text {
            @media all and (min-width: 768px) {
                float:none;
                //width: 66%;
            }
            text-align: center;
            p {
                font-size: 14px;
                line-height: 1.3;
            }
        }
        background: transparent;
        color: #fff;
        a:link,
        a:hover {
            color: #fff!important;
            background: transparent;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    #block-sociallinks-2 {
        float: right;
    }
    #block-wevaluenature-account-menu {
        float: left;
        .navbar-nav>li>a {
            padding: 5px
        }
    }
}

.user-pass,
.user-login-form {
    padding-top: 30px;
    padding-bottom: 30px;
}




.webform-submission-contact-form {
    background-color: mix($mint, #fff, 50%);
    padding: 10px 20px;
    @media all and (min-width: 767px) {
        //margin-left:-25%;
    }
    .form-item-i-understand-and-agree-to-the-privacy-policy .description.help-block {
        font-size: 16px;
        a:before {
            //content: '\e805';
            @include icon-font('\e802');
            color: $blue;
            font-size:14px;
        }
    }
}


.region.region-content {
    padding-right: 65px;
    .page.is-promoted.teaser {
        padding-bottom: 30px;
        //border: 1px solid orange;
    }
    @media all and (min-width: 768px) {
        //padding-right: 15%;
        .page.is-promoted.teaser {
            padding-left: 25%;
        }
    }
    hr:not(.thin) {
        display: none;
    }
}