
/*/  === INLINE IMAGES ===  /*/
.align-right-50 img,
.align-right-25 img {
    float: left;
    margin: 0 0 15px -33%;
    clear: right;
    max-width: 45%;
    max-width: 27.5%;
    //width: 48.5%;
}


.align-right-25 img {
    //max-width: 20%;
    //max-width: 20%;
    padding: 0 10px;
    &[src*="ICAEW"] {
        margin-left:-27%;
        max-width: 17.5%;
        margin-top:-25px;
    }
}

.align-full img {
    float: none;
    margin: 15px auto;
    clear: both;
    display: block;
    width:auto; max-width: 100%;
}

@media all and (max-width: 768px) {
    .align-right-25 img,
    .align-right-50 img {
        float: none;
        margin: 15px 25%;
        clear: both;
        max-width: 50%;
    }
    .align-right-25 img {
        float: none;
        margin: 15px 35%;
        clear: both;
        max-width: 30%;
        &[src*="ICAEW"] {
            float: none;
            margin: 15px 35%;
            clear: both;
            max-width: 30%;
        }
    }
}
/*/  ===  Colorbox window === /*/

#cboxTitle {
    font-size: 14px;
    &:before {
        @include icon-font('\e803');
          font-family: 'cn_icons3';
        font-size: inherit;
        margin-right: 0.5em;
    }
}
